@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
   --primary-color:rgb(237, 79, 79); 
   --hover-color: rgb(39, 75, 89);

/* {rgb(240, 109, 116);} */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Navbar Styling */

/* body {
    background-color: rgb(221, 243, 231);
} */

.navbar {
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 50px;
    z-index: 1;
    transition: 0.5s;
}

.max-width {
    max-width: 1300px; 
    margin: auto;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    color: #fff;
   font-size: 35px;
   font-weight: bold;
   z-index: 1;
}

.navbar .menu li {
   display: inline-block;
   list-style: none;
}

.navbar .menu li a {
    color: #fff;
    font-size: 18px;
    margin-left: 20px;
    font-weight: 500;
    transition: color 0.4s ease;
}

.navbar .menu li a:hover {
    color: var( --primary-color);
}

.navbar.sticky li a:hover {
    color: var( --hover-color);
}

.navbar.sticky {
    padding: 10px 50px;
    background-color: var(--primary-color);
}

.dotColor {
    color: var( --primary-color);
}

.navbar .logo span {
    color: var(--primary-color);
}

.navbar.sticky .logo span {
    color: #fff;
}

.menu-btn, .close-btn  {
    display: none;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
}

/* home section styles */
.home {
    display: flex;
    background: url('img/green-chameleon.jpg') no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
    color: var(--primary-color);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 50px;
}

.home .home-content  {
    position: absolute;
    top: 230px;
}

.home .home-content .text-1 {
    font-size: 25px;
}
.home .home-content .text-2 {
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}


.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color:  var(--hover-color);
    font-weight: 400;
}

.home .home-content button {
    background-color:  var(--primary-color);
    margin-top: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    font-style: inherit;
    transition: all 0.4s ease;
}

.home .home-content button:hover {
     background-color:  rgba(237,79,79, 0.1);
     border: 2px solid var(--primary-color);
     color: var(--primary-color);
     
}

/* about section styles */
    section {
        padding: 50px 50px;
    }

    .about {
        font-family: 'Open Sans', sans-serif;
    }

    .about .title {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
    }

     .about .about-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .about .about-content .left {
        width: 30%;
    }

     .about .about-content .right {
        width: 60%;
    }

      .about .about-content .text {
        font-size: 25px;
        font-weight: 500;
    }

     .about .about-content .text span {
        color: var(--primary-color)
     }

     .about .about-content p {
        font-size: 15px;
        margin-top: 10px;
        text-align: justify;
        line-height: 25px;
     }

    .about .about-content a {
         display: inline-block;
         background-color: var(--primary-color);
         color: #fff;
         padding: 10px 30px;
         margin-top: 20px;
         border-radius: 60px;
         border: 2px solid var(--primary-color);
         transition: all 0.3s ease;
     }

     .about .about-content a:hover {
         background-color: transparent;
         color:var(--primary-color);
     }

    .about .about-content .left img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 20%;
        box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.3);
        opacity: 0.8;
     }

     /* skills section styles */
        .skills .title::after {
            content: '';
        }

       .skills {
          font-family: 'Open Sans', sans-serif;
        }

        
    .skills .title {
        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .skills .skills-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
  .skills .skills-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

     .skills .skills-content .left {
        width: 60%;
    }

     .skills .skills-content .right {
        width: 40%;
        padding-left: 100px;
    }


     .skills .skills-content .right img {
        height: 250px;
        width: 250px;
        object-fit: cover;
        border-radius: 5%;
        opacity: 0.9;
        
     }
       .skills .skills-content .text {
        font-size: 25px;
        font-weight: 500;
     }

    .skills .skills-content p {
        font-size: 15px;
        margin-top: 10px;
        text-align: justify;
        line-height: 25px;
     }


/* responsive media query */
@media (max-width: 991px){

    .max-width {
        padding: 0 5px;
    }
    .menu-btn.active {
        display: block;
        color: white;
        z-index: 999;
    }

    .menu-btn:focus, .close-btn:focus {
        outline: none;
    }

     .close-btn.active {
        display: block;
        color: white;
        z-index: 999;
    }

     .navbar .logo span {
        color: #fff;
    }

    .navbar .menu  {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 100px;
        background-color: var(--primary-color);
        opacity: 0.9;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
         left: 0;
    }

     .navbar .menu li {
         display: block;
         padding:20px;
    }
         .navbar .menu li a {
         display: inline-block;
         margin:100px, 0;
         font-size: 20px;       
    }

         .navbar .menu li a:hover {
             color:rgb(28, 11, 19);    
    }

     .home {
        background-size:cover;
    }

    /* about section styles */

    .max-width {
        max-width: 850px;
    }
     .about .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about .about-content .left {
        width: 100%;
    }

      .about .about-content .right .text {
        font-size: 21px;
    }

      .about .about-content .right p {
        font-size: 15px;
        line-height: 23px;
    }

    .about .about-content .left img {
        box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);      
    }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 50px;
    }

    .about .about-content .right {
        flex: 100%;
    }

    .about .about-content a {
        padding: 8px 20px;
         margin-top: 15px;
         border-radius: 30px;
         border: 1px solid var(--primary-color);
         transition: all 0.3s ease;
     }

     .about .about-content a:hover {
         background-color: transparent;
         color:var(--primary-color);
     }
}

/* skills media */
  

@media (max-width: 450px){
body {
    overflow-x: hidden;
}

.home .max-width {
    width: 100px;
    margin: auto 0 auto 18px;
}

    .home .home-content .text-1 {
    font-size: 20px;
  }
  
.home .home-content .text-2 {
    font-size: 50px;
    font-weight: 600;
    margin-left: -2px;
    margin-bottom: 10px;
}


.home .home-content .text-3 {
    font-size: 25px;
    margin: 3px 0;
}

.home .home-content .text-3 span {
    color:  var(--hover-color);;
    font-weight: 400;
}

.home .home-content button {
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    color: white;
    font-size: 16px;
    padding: 8px 15px;
    
}
 .home .home-content button:hover {
        border-width: 1px;
        font-weight: 500;
 }


 }